<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des allergènes</h1>
            <a href="/admin/allergen/new">Ajouter un nouvel allergène</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom de l'allergène</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for allergen in allergens %}
                    <tr>
                        <td>{{ allergens.name }}</td>
                        <td colspan="3">
                            <a href="/admin/allergen/{{ allergens.id }}/details">Voir</a>
                            <a href="/admin/allergen/{{ allergens.id }}/edit">Modifier</a>
                            <a href="/admin/allergen/{{ allergens.id }}/delete">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>