<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Détails de la catégorie : {{ category.name }}</h2>
<p><b>Image de la catégorie :</b>{{ category.image }}</p>

<a href="/admin/categories">Retour</a>
</body>
</html>