<!DOCTYPE html>
<html>
    {% include 'Partials/header.html.twig' %}
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js)"></script>
        {% block body %}{% endblock %}
    </body>

    {% include 'Partials/footer.html.twig' %}
</html>
